<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98978d">  <td>18/05/21 13:46:08</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Base.dependencies()[pri:0, instance:Secnarios@1e397ed7]">&gt;&gt;dependencies</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="7996a0">  <td>18/05/21 13:46:40</td>   <td>31688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Secnarios.record()[pri:0, instance:Secnarios@1e397ed7]">record</td> 
  <td>main@1698097425</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>18/05/21 13:47:43</td>   <td>95103</td> <td title="&lt;&lt;Base.report()[pri:0, instance:Secnarios@1e397ed7]">&lt;&lt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1698097425</td>   <td></td> </tr>
</table>
