<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a069a6">  <td>18/05/21 14:24:52</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Base.dependencies()[pri:0, instance:Secnarios@2f7c7260]">&gt;&gt;dependencies</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1060830840</td>   <td></td> </tr>
<tr bgcolor="96cd68">  <td>18/05/21 14:25:25</td>   <td>32624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Secnarios.record()[pri:0, instance:Secnarios@2f7c7260]">record</td> 
  <td>main@1060830840</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>18/05/21 14:26:25</td>   <td>92736</td> <td title="&lt;&lt;Base.report()[pri:0, instance:Secnarios@2f7c7260]">&lt;&lt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1060830840</td>   <td></td> </tr>
</table>
